@charset "UTF-8";
@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("fonts/Calibri Bold.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  font-display: swap;
  src: url("fonts/Calibri Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Calibri";
  padding-top: 30px;
  background: url("images/background.png") top no-repeat;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  color: #141419;
}

.subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #616161;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.header__menu {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

.header__menu_item {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #616161;
  padding-right: 70px;
}

.header__phone {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  color: #141419;
}

.banner {
  margin-top: 30px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__content {
  min-width: 690px;
  text-align: left;
  background: url("images/title.png") 0px 117px no-repeat;
}

.banner__title {
  padding-top: 70px;
  padding-bottom: 30px;
}

.banner__subtitle {
  padding-bottom: 40px;
}

.banner__subtitle span {
  color: #fb973b;
}

.banner__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__field {
  width: 196px;
  height: 57px;
  border: 1px solid #e1e1e1;
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #f8f8f8;
}

.form__button {
  width: 195px;
  height: 57px;
  background-color: #fb973b;
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  color: #ffffff;
}

.banner__image img {
  position: relative;
  right: 15%;
}

.about {
  text-align: center;
  margin-bottom: 150px;
}

.about__title {
  background: url("images/1.png") 227px 45px no-repeat;
  padding-bottom: 30px;
}

.about__subtitle span {
  color: #fb973b;
}

.subtitle {
  padding-bottom: 50px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 810px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__item {
  padding-bottom: 20px;
}

.item__icon {
  padding-bottom: 15px;
}

.item__inform {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #141419;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__content {
  padding-right: 150px;
}

.partners__title {
  min-width: 420px;
  background: url("images/title2.png") 3px 45px no-repeat;
  padding-bottom: 40px;
}

.partners__text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #616161;
}

.partners__text span {
  color: #fb973b;
}

.partners__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__logo div {
  padding-right: 150px;
}

.partners__logo img {
  padding-bottom: 70px;
}
